<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


<bean id="flightbean" class="com.xworkz.airline.bean.FlightDetailsBean">

<constructor-arg value="5"></constructor-arg>
<constructor-arg value="IndiGo"></constructor-arg>
<constructor-arg value="Banglore"></constructor-arg>
<constructor-arg value="Rajasthan"></constructor-arg>
<constructor-arg value="First class"></constructor-arg>
<constructor-arg value="75"></constructor-arg>

</bean>

</beans>